@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.container-swiper .swiper .swiper-button-prev.swiper-button-disabled,
.container-swiper .swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.container-swiper .swiper .swiper-button-prev {
  left: -9px;
  background-color: transparent;
}

.container-swiper .swiper .swiper-button-next {
  right: -9px;
  background-color: transparent;
}

.container-swiper .swiper .swiper-button-prev:after,
.container-swiper .swiper .swiper-button-next:after {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

.container-swiper .swiper,
.container-swiper .swiper-wrapper,
.container-swiper .swiper-slide {
  height: 100%;
}

.container-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.container-swiper__banner .container-swiper__swiper-button-prev,
.container-swiper__banner .container-swiper__swiper-button-next {
  color: #fff;
}

.container-swiper__banner .container-swiper__swiper-button-prev:hover,
.container-swiper__banner .container-swiper__swiper-button-next:hover {
  background: #ffffff29;
}

/* Swiper */

.container-swiper .swiper,
.container-swiper .swiper-wrapper,
.container-swiper .swiper-slide {
  height: 100%;
}

.container-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
